.ne-hero {
    height: 397px;
    display: flex;
    background-image: url('../../assets/img/catalog.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.ne-hero--small {
    height: 357px;
}

.ne-hero__title {
    font-size: 96px;
    font-family: var(--font-kudry);
    font-weight: 400;
}


@media (max-width: 1024px) {
    .ne-hero__title {
        font-size: 72px;
    }
}

@media (max-width: 768px) {
    .ne-hero {
        height: 280px;
    }

    .ne-hero--small {
        height: 250px;
    }

    .ne-hero__title {
        font-size: 54px;
    }
}

@media (max-width: 480px) {
    .ne-hero {
        height: 200px;
    }

    .ne-hero--small {
        height: 180px;
    }

    .ne-hero__title {
        font-size: 38px;
    }
}

@media (max-width: 375px) {
    .ne-hero__title {
        font-size: 28px;
    }
}