.polular {
    margin-bottom: 58px;
}

.popular__title {
    font-family: var(--font-kudryashev);
    font-size: 59px;
    line-height: 90%;
    color: var(--color-black);
    font-weight: 400;
    margin-bottom: 60px;
}


@media (max-width: 1024px) {
    .popular__title {
        font-size: 46px;
    }
}

@media (max-width: 768px) {
    .popular__title {
        font-size: 38px;
        margin-bottom: 80px;
    }
}

@media (max-width: 480px) {
    .popular__title {
        font-size: 14px;
        margin-bottom: 16px;
    }
}